.DS_Store
/.idea
/node_modules
/typings
/vendor
/app/**/*.js
/app/**/*.js.map
/public_html/dist
/public_html/index.php
/npm-debug.log
/.sync-config.cson
/src/**/*.js
/src/**/*.js.map
/public_html/index.html
/webpack/target.js