<div class="page header">

	<navbar></navbar>

	<div class="text-center">
		<h1>Available Tutors</h1>
	</div>
</div>


<div class="container mb-4" *ngFor="let tutorProfile of tutorProfiles">
	<div class="row">
		<div class="col-md-5">
			<img class="img-responsive center-block" src="../images/fakeprofileimage.png" alt="fake profile image">
		</div>
		<div class="col-md-5">
			<br>
			<p><strong>NAME:</strong> {{tutorProfile.profileName}}</p>
			<p><strong>RATING:</strong></p>
			<br>
			<p>{{tutorProfile.profileBio}} </p>
			<br>
			<br>
			<p><strong>RATE:</strong> {{tutorProfile.profileRate}}</p>
			<ul class="list-inline">
				<li></li>
				<li><img class="img-sm" src="images/badge/angular.png"/></li>
				<li><img class="img-sm" src="images/badge/bootstrap.png"/></li>
				<li><img class="img-sm" src="images/badge/javascript.png"/></li>
				<li><img class="img-sm" src="images/badge/MySQL.png"/></li>
			</ul>
		</div>
	</div>
</div>



<app-footer></app-footer>
