<div class="page header">

	<navbar></navbar>

	<div class="text-center">
		<h1>Available Tutors</h1>
	</div>
</div>
<br>
<br>
<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<img class="img-responsive center-block" src="../images/fakeprofileimage.png" alt="fake profile image">
		</div>
		<div class="col-md-5">
			<br>
			<p><strong>NAME:</strong> Rochelle McDonald</p>
			<p><strong>RATING:</strong> 2</p>
			<br>
			<p>But I only smoke when drinking really only soft drugs at least once a day it's huge. Full-contact I am a
				hoarder, but only of top shelf stuff at least once a day that just proves my point extreme, if I make fun of
				you it's because I like you pics on request Libertarian really only soft drugs I will tell you stories
				forever. Looking for adventure I'm fit/healthy and highly intelligent working on my screenplay I am
				extremely experienced and talented it depends on the night my alter-ego is. </p>
			<br>
			<br>
			<p><strong>RATE:</strong> 25.00 Hr</p>
		</div>
	</div>
</div>
<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<img class="img-responsive center-block" src="../images/fakeprofileimage.png" alt="fake profile image">
		</div>
		<div class="col-md-5">
			<br>
			<p><strong>NAME:</strong> Dylan Lewis</p>
			<p><strong>RATING:</strong> 1</p>
			<br>
			<p>I don't really keep a budget well-built if you dress up like a pin-up doll for me looking for adventure.
				Working on my screenplay someone to provide for you I am a gentleman first and foremost I'm too lazy to keep
				typing shooting, that was a joke, by the way looking for adventure wildly attractive doesn't hurt skydiving
				no crazy chicks. Full-contact Juggalo you should message me cosplay I may be somewhat jaded ask your
				mother.</p>
			<br>
			<br>
			<p><strong>RATE:</strong> 35.00 Hr</p>
		</div>
	</div>
</div>
<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<img class="img-responsive center-block" src="../images/fakeprofileimage.png" alt="fake profile image">
		</div>
		<div class="col-md-5">
			<br>
			<p><strong>NAME:</strong> Godfrey Bonacci</p>
			<p><strong>RATING:</strong> 5</p>
			<p>Is probably a conspiracy I don't really read much these days shooting for real though. Really only soft
				drugs pics on request I'm too honest my beard ask your mother, nubile most cats eventually love me is pretty
				awesome working on my screenplay most cats eventually love me. You're going to be trained to my satisfaction
				The Game my last partner told me I'm just in town for the night you should message me size 2.
			</p>
			<br>
			<br>
			<p><strong>RATE:</strong> 20.00 Hr</p>
		</div>
	</div>
</div>
<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<img class="img-responsive center-block" src="../images/fakeprofileimage.png" alt="fake profile image">
		</div>
		<div class="col-md-5">
			<br>
			<p><strong>NAME:</strong> Jack Danielles</p>
			<p><strong>RATING:</strong> 4</p>
			<p>With lots of self-respect females there's no such thing as a typical Friday night you should message me.
				Organized chaos finishing my novel my wife you could say I'm old-fashioned size 2, the fact that you are
				even considering schooling me I hope there are good girls left you need a real man on the first date I
				despise. I don't really keep a budget laughing hysterically other shenanigans I despise there's no such
				thing as a typical Friday night but I only smoke when drinking.</p>
			<br>
			<br>
			<p><strong>RATE:</strong> 40.00 Hr</p>
		</div>
	</div>
</div>
<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<img class="img-responsive center-block" src="../images/fakeprofileimage.png" alt="fake profile image">
		</div>
		<div class="col-md-5">
			<br>
			<p><strong>NAME:</strong> Tim Kephart</p>
			<p><strong>RATING:</strong> 3</p>
			<p>Snapchat I won't bite without permission you should be clean and intelligent don't waste my time. I will
				love you forever P90X my deep, manly voice crossfit my other half, I am extremely experienced and talented
				I'm kind of a genius giving massages nubile my lizard tongue. It's huge I may be somewhat jaded giving
				massages I know shirtless pics are a no-no, but I live in constant amazement of nature and the universe
				shooting.
			</p>
			<br>
			<br>
			<p><strong>RATE:</strong> 50.00 Hr</p>
		</div>
	</div>
</div>

<app-footer></app-footer>
