<footer class="navbar-bottom navbar-inverse rounded">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<p class="text-white p-1">copyright jargon</p>
			</div>

			<div class="col-sm-6 text-right p-1">
				 <i class="fa fa-twitter fa-2x text-white" aria-hidden="true"></i>
				<i class="fa fa-github fa-2x icon-light text-white" aria-hidden="true"></i>
				<i class="fa fa-facebook-square fa-2x icon-light text-white" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</footer>