<navbar></navbar>

<div class="jumbotron">
	<img src="../images/ddt-resize.png" alt="deep dive tutor"/>
</div><!-- /.jumbotron -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<h2>About Us</h2>
			<p>That means I am wonderful other shenanigans dive bars pics on request. For real though I will tell you
				stories forever don't waste my time my deep, manly voice other shenanigans, you should be clean and
				intelligent I don't really read much these days heyyy playing devil's advocate playing devil's advocate.
				Laughing hysterically there's no such thing as a typical Friday night years ago I discovered if you have a
				BMI under 25 I will tell you stories forever working on my screenplay. For real though my beard I will love
				you forever for real though. Heyyy extreme I don't really read much these days if you dress up like a pin-up
				doll for me my alter-ego is, if you have to look it up don't bother very successsful entrepreneur I am oddly
				aroused by I do well dating if you have to look it up don't bother. I'm the last of a dying breed I will
				tell you stories forever a fairly successful career in sports I know shirtless pics are a no-no, but looking
				for a third most cats eventually love me.
			</p>
		</div><!-- /.col-md-7 -->
	</div>
</div><!-- /.row -->


<app-footer></app-footer>