<navbar></navbar>

<div class="jumbotron">
	<img class="img-responsive" src="images/ddt-resize.png" alt="deep dive tutor"/>
</div><!-- /.jumbotron -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<h2>About Us</h2>
			<p>Welcome to Deep Dive Tutor! Deep Dive Tutor was built as a way for
				current students to receive tutoring from former students. All of the tutors have gone through the
				bootcamp and are very familiar with the course curriculum. Students can select from a
				variety of tutors based on the tutors strengths, and how it matches the individual students
				needs. If you are interested in signing up as a tutor, it is a great way to help
				promote student success as well as keep the curriculum fresh in the alumni's mind.
			</p>

		</div><!-- /.col-md-7 -->
		<div class="col-md-5">
			<signin></signin>

		</div>
	</div><!-- /.row -->
</div><!-- /.container-fluid -->


<app-footer></app-footer>