<div class="row">
	<div class="col-sm-12">
		<form class="input-group" #reviewForm="ngForm" name="reviewForm" id="reviewForm"
				(ngSubmit)="createReview();" novalidate>
			<input type="text" name="reviewComment" id="reviewComment" class="well well-large form-control" maxlength="500"
					 [(ngModel)]="review.reviewText" #reviewComment="ngModel" placeholder="Leave a Review"/>
			<span class="input-group-btn">
        <button class="btn btn-default" type="submit" id="submit">submit</button>
      </span>
		</form><!-- /input-group -->
	</div>
</div>

<h3 class="text-right">Reviews</h3>
<div class="hl"></div>
<span class="text-muted"></span>
<div class="media container-fluid bg-gray p-1 rounded  m-1" *ngFor="let review of reviews">
	<div class="media-left">
		<a href="#">
			<img class=src="/images/DDC_helmet_black.png" alt="profile">
		</a>
	</div>
	<div class="media-body">
		<div class="media-heading">
			<i class="fa fa-star fa-2x" aria-hidden="true"></i>
			<span class="h3 text-black">Rating: {{review.reviewRating}}</span>
		</div>
		<span class="media-text text-black"> {{review.reviewText}}</span>
	</div>
</div>


<!--<form #reviewForm="ngForm" name="reviewForm" id="reviewForm" (ngSubmit)="createReviewComment();" novalidate-->
<!--(keyup)="onKey(which == 13)">-->

<!--<label for="reviewComment">Comment</label>-->
<!--<input type="text" name="reviewComment" id="reviewComment" class="well well-large" maxlength="500"-->
<!--[(ngModel)]="review.reviewText" #reviewComment="ngModel" placeholder="Leave a Review"/>-->
<!--</form>-->



