<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
					aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Sign Up</h4>
			</div>
			<div class="modal-body">
				<form #signUpForm="ngForm" id="signUpForm" name="signUpForm" (submit)="signUp();">
					<div class="form-group">
						<label for="profileName">Name</label>
						<input type="text" class="form-control" id="profileName" placeholder="Name" required [(ngModel)]="signUp.profileName">
					</div>
					<div class="form-group">
						<label for="profileEmail">Email</label>
						<input type="email" class="form-control" id="profileEmail" placeholder="Email" required [(ngModel)]="signUp.profileEmail">
					</div>
					<div class="form-group">
						<label for="profilePassword">Create Password</label>
						<input type="password" class="form-control" id="profilePassword"
								 placeholder="Create Password" required [(ngModel)]="signUp.profilePassword">
					</div>
					<div class="form-group">
						<label for="profilePasswordConfirm">Re-Enter Password</label>
						<input type="password" class="form-control" id="profilePasswordConfirm"
								 placeholder="Re-Enter Password" required [(ngModel)]="signUp.profilePasswordConfirm">
					</div>
					<div class="form-group">
						<label for="profileBio">Bio</label>
						<textarea class="form-control" id="profileBio"
									 placeholder="500 Characters Max"></textarea>
					</div>
					<div class="form-group">
						<p><strong>Profile Type</strong></p>
					</div>
					<input type="radio" id="profileTypeStudent"
							 name="profileType" value="student" checked required [(ngModel)]="signUp.profileType">
					<label for="profileTypeStudent">Student</label>
					<input type="radio" id="profileTypeTutor"
							 name="profileType" value="tutor" required [(ngModel)]="signUp.profileType">
					<label for="profileTypeTutor">Tutor</label>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" [disabled]="signUpForm.invalid">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>