
		<div class="well well-lg">
			<h4>Login</h4>
			<!--Form Starts-->
			<form #signInForm="ngForm" id="signInForm" name="signInForm" (submit)="signIn();">
				<div class="form-group">
					<label for="profileEmail">Email</label>
					<input type="email" name="profileEmail" class="form-control" id="profileEmail" placeholder="Email"
							 required [(ngModel)]="signin.profileEmail" #profileEmail="ngModel">
				</div>
				<div class="form-group">
					<label for="profilePassword">Password</label>
					<input type="password" name="profilePassword" class="form-control" id="profilePassword"
					placeholder="Password" required [(ngModel)]="signin.profilePassword" #profilePassword="ngModel">
				</div>
				<button type="submit" id="submit" class="btn btn-primary" [disabled]="signInForm.invalid">Login</button>
			</form>
			<!--Form Ends-->
			<div class="btn-psh">
				<a href="../api/github/" ><button type="button" id="github" class="btn btn-info">Login w/ Github</button></a>
			<signup></signup>

			</div>
		</div><!-- /.col-md-5 -->


