<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Sign Up
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
					aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Sign Up</h4>
			</div><!-- /.modal-header -->
			<div class="modal-body">
				<form #signUpForm="ngForm" id="signUpForm" name="signUpForm" (submit)="createSignUp();">
					<div class="form-group">
						<label for="profileName">First &amp; Last Name</label>
						<input type="text" class="form-control" name="profileName" id="profileName" placeholder="Name"
								 required [(ngModel)]="signUp.profileName" #profileName="ngModel">
					</div><!-- /.form-group -->
					<div class="form-group">
						<label for="profileEmail">Email</label>
						<input type="email" class="form-control" name="profileEmail" id="profileEmail" placeholder="Email"
								 required [(ngModel)]="signUp.profileEmail" #profileEmail="ngModel">
					</div><!-- /.form-group -->
					<div class="form-group">
						<label for="profilePassword">Create Password</label>
						<input type="password" class="form-control" name="profilePassword" id="profilePassword"
								 placeholder="Create Password" required [(ngModel)]="signUp.profilePassword"
								 #profilePassword="ngModel">
					</div><!-- /.form-group -->
					<div class="form-group">
						<label for="profilePasswordConfirm">Re-Enter Password</label>
						<input type="password" class="form-control" name="profilePasswordConfirm" id="profilePasswordConfirm"
								 placeholder="Re-Enter Password" required [(ngModel)]="signUp.profilePasswordConfirm"
								 #profilePasswordConfirm="ngModel">
					</div><!-- /.form-group -->
					<div class="form-group">
						<label for="profileBio">Bio</label>
						<textarea class="form-control" id="profileBio" name="profileBio"
									 placeholder="500 Characters Max" required [(ngModel)]="signUp.profileBio"
									 #profileBio="ngModel"></textarea>
					</div><!-- /.form-group -->

					<!-- Profile Type Radio Button -->
					<div class="form-group">
						<p><strong>Profile Type</strong></p>
						<input type="radio" id="profileTypeStudent"
								 name="profileType" checked [(ngModel)]="signUp.profileType" #profileType="ngModel"
								 [value]=0>
						<label for="profileTypeStudent">Student</label>
						<input type="radio" id="profileTypeTutor"
								 name="profileType" [(ngModel)]="signUp.profileType" #profileType="ngModel" [value]=1>
						<label for="profileTypeTutor">Tutor</label>
					</div><!-- /.form-group -->

					<button type="submit" id="submit" class="btn btn-success" [disabled]="signUpForm.invalid">Sign Up
					</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</form>
				<div class="modal-footer">
				</div><!-- /.modal footer -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal fade -->