<phpunit>
	<testsuites>
		<testsuite name="Deep Dive Tutor">
			<!--<file>ProfileTest.php</file>-->
			<!--<file>ReviewTest.php</file>-->
			<!--<file>SkillTest.php</file>-->
			<!--<file>ProfileSkillTest.php</file>-->
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>
