.text-white {
	color: white;
}
.p-1 {
	padding: 1rem;
}
.rounded {
	border-radius: 7px;
}
.rounded-top {
	border-top-left-radius:7px;
	border-top-right-radius:7px;
}

.jumbotron {
	background-color: rgba(0, 41, 94, 1);
}
.m-1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.media-object {
	height:100px;
	border-right: black solid 2px;
}
.media-text {
	padding: 0;
	border-top: dimgray solid 1px;
	display: inline-block;
}
.bg-gray {
	background-color: #A8A9AD;
}
.hl {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.ms-2 {
	margin-left: 2rem;
	margin-right: 2rem;
}
.img-sm {
	width: 6rem;
	height: auto;
}
.bg-black {
	background-color:#000000;
}
.btn-psh {
	position: absolute;
	margin-top: -3.4rem;
	margin-left:6.5rem;
}
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter > * {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}
.nm-btm{
	margin:0;
}

.modal-footer {
	text-align: inherit;
}